.backgroundImage {
    background-image: url("https://img1.akspic.ru/previews/3/5/0/8/6/168053/168053-anime-anime_devushka_s_mashinoj-legkovyye_avtomobili-anime_art-shina-x750.jpg");
    background-size: cover;
    background-attachment: fixed;
}
